<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-oKWOmmvpLu_ItP9fXkS1sOC9qdiPjjM</string>
	<key>GCM_SENDER_ID</key>
	<string>298463974588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mccole.EFootPrint</string>
	<key>PROJECT_ID</key>
	<string>groupproject-6fe29</string>
	<key>STORAGE_BUCKET</key>
	<string>groupproject-6fe29.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:298463974588:ios:d5f1354900359cae226cb9</string>
	<key>DATABASE_URL</key>
	<string>https://groupproject-6fe29-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
